
.imgUpload{
    max-width: 250px;
    max-height:200px;
    //background-image: url("/Users/emily/Desktop/imgupload.png");  
    //background-size: contain;  
    font-size: 0px;
   // background-repeat: no-repeat;
    
    //cursor:pointer
}
