
.logo{

        display: block;
        text-indent: 101%;
           background-image: url("../comindus.png");
           background-repeat: no-repeat;
           background-size: contain;
           padding:40px;
           
}

.header{
        background-color: $blue-dark;
        opacity:0.8;
}
.text{
        
        list-style: none;
        color:white;
}